---
import DashboardLayout from '../../../layouts/DashboardLayout.astro';
import { MediaPage } from '@/components/content/MediaPage';
---

<DashboardLayout title="Media Library">
  <div class="p-6">
    <MediaPage client:load />
  </div>
</DashboardLayout>
